<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="dk.dda.ddieditor.marc.command.ExportMarc"
            description="Create MarcXML"
            id="dk.dda.ddieditor.marc.command.ExportMarc"
            name="Create MarcXML">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:toolsmenu?after=ddieditor-ui.file.tools.separator1">
         <separator
               name="ddieditor-marc.separator1"
               visible="true">
         </separator>
         <command
               commandId="dk.dda.ddieditor.marc.command.ExportMarc"
               icon="icons/sourceEditor.gif"
               label="Create MarcXML"
               style="push">
         </command>
         <separator
               name="ddieditor-marc.separator1"
               visible="true">
         </separator>
      </menuContribution>
   </extension>

</plugin>
